# Игнорируем исполнимые файлы и архивы
/PWManager.exe
/PWManager.zip

# Игнорируем ключи и конфиденциальные файлы
/public_key.key
/private_key.key
/passwords.json
/2fa.json
/.vscode
/PWManager_Installer.exe

# Игнорируем директории для сборки и дистрибутива
/build
/dist
/installers

# Игнорируем файлы, связанные с виртуальной средой и установками
/Lib
/Include
/Scripts
/pyvenv.cfg

# Игнорируем специфичные для сборки файлы
/main.spec

# Игнорируем main.exe
/main.exe