# Игнорируем исполнимые файлы и архивы
/PWManager.exe
/PWManager.zip

# Игнорируем ключи и конфиденциальные файлы
/crypt.key
/passwords.json

# Игнорируем директории для сборки и дистрибутива
/build
/dist
/installers

# Игнорируем файлы, связанные с виртуальной средой и установками
/Lib
/Include
/Scripts
/pyvenv.cfg

# Игнорируем специфичные для сборки файлы
/main.spec

# Игнорируем версию приложения (если не хотите отслеживать)
/version.txt
