# Игнорируем исполнимые файлы и архивы
/PWManager.exe
/PWManager.zip

# Игнорируем ключи и конфиденциальные файлы
/public_key.key
/crypt.key
/passwords.json
/2fa.json
/.vscode
/PWManager_Installer.exe
/Output
/achievements.json
/recovery.word
/master.key
/password_history.json

# Игнорируем директории для сборки и дистрибутива
/build
/dist
/installers
/bin
/lib
/lib64

# Игнорируем файлы, связанные с виртуальной средой и установками
/Lib
/Include
/Scripts
/pyvenv.cfg

# Игнорируем специфичные для сборки файлы
/main.spec

# Игнорируем main.exe
/main.exe